body{
    background-image:url(team-meeting.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
form{
    font-size: 25px;
}
.form-control{
    font-size: 25px;
    background-color:#cccc;
    color: white;
}
.form-check-lable{
    padding: 10px;
}
.btn{
    font-size: 22px;
}